In [1]:
import pandas as pd
from pycaret.classification import * 
import numpy as np

In [2]:
df1 = pd.read_excel('./DATA/MACLAS_DATASET.xlsx',sheet_name='training', engine='openpyxl')
df2 = pd.read_excel('./DATA/MACLAS_DATASET.xlsx',sheet_name='raw_data', engine='openpyxl')
df3 = pd.read_excel('./DATA/raw_xrd.xlsx', engine='openpyxl')

In [3]:
df2.describe()

,index,Duration,Mg,+/-,Al,+/-.1,Si,+/-.2,P,+/-.3,...,Ra,+/-.76,Ac,+/-.77,Th,+/-.78,Pa,+/-.79,U,+/-.80
count,1259.000000,1259.000000,882.000000,886.000000,1251.000000,1259.000000,1259.000000,1259.000000,1251.000000,1249.000000,...,0.0,0.0,0.0,0.0,2.000000,2.00000,0.0,0.0,0.0,0.0
mean,630.000000,60.520272,129.494144,1421.864591,1426.915710,28.479144,870.119408,10.436751,1535.174598,7.003314,...,NaN,NaN,NaN,NaN,0.105500,0.01690,NaN,NaN,NaN,NaN
std,363.586303,0.280979,1187.638372,8166.148786,5103.310668,118.342977,3711.164090,36.638704,6271.168158,27.242133,...,NaN,NaN,NaN,NaN,0.143118,0.02390,NaN,NaN,NaN,NaN
min,1.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.004300,0.00000,NaN,NaN,NaN,NaN
25%,315.500000,60.500000,0.000000,0.000000,10.410100,0.214500,2.702500,0.072500,4.962350,0.067200,...,NaN,NaN,NaN,NaN,0.054900,0.00845,NaN,NaN,NaN,NaN
50%,630.000000,60.501000,0.000000,0.000000,17.819800,0.271400,8.202700,0.103200,19.764900,0.102400,...,NaN,NaN,NaN,NaN,0.105500,0.01690,NaN,NaN,NaN,NaN
75%,944.500000,60.533000,0.000000,28.548550,24.731200,0.344900,17.821400,0.158100,31.119150,0.134600,...,NaN,NaN,NaN,NaN,0.156100,0.02535,NaN,NaN,NaN,NaN
max,1259.000000,70.420000,17412.000000,64183.000000,27788.000000,2175.000000,37935.000000,274.000000,35756.000000,199.000000,...,NaN,NaN,NaN,NaN,0.206700,0.03380,NaN,NaN,NaN,NaN

In [10]:
#df = pd.read_csv("/home/dsg/MACLAS_final/intermediate_data/predictions_vs2.csv")
df = pd.read_csv("/home/dsg/MACLAS_final/intermediate_data/predictions_vs1.csv")

In [8]:
model = load_model('classifier')

Transformation Pipeline and Model Successfully Loaded

In [11]:
plot_model(model, data = df)

ValueError: _CURRENT_EXPERIMENT global variable is not set. Please run setup() first.

In [3]:
df2 = df2.drop_duplicates(subset='Name')
df2.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1261
Data columns (total 165 columns):
 #    Column    Non-Null Count  Dtype
---   ------    --------------  -----
 0    index     1262 non-null   int64
 1    Name      1262 non-null   object
 2    Duration  1256 non-null   float64
 3    Mg        882 non-null    float64
 4    +/-       886 non-null    float64
 5    Al        1251 non-null   float64
 6    +/-.1     1259 non-null   float64
 7    Si        1259 non-null   float64
 8    +/-.2     1259 non-null   float64
 9    P         1251 non-null   float64
 10   +/-.3     1249 non-null   float64
 11   S         1255 non-null   float64
 12   +/-.4     1257 non-null   float64
 13   Cl        1259 non-null   float64
 14   +/-.5     1259 non-null   float64
 15   Ar        11 non-null     float64
 16   +/-.6     0 non-null      float64
 17   K         523 non-null    float64
 18   +/-.7     527 non-null    float64
 19   Ca        1224 non-null   float64
 20   +/-.8     1231 non-null   float64
 21   Sc        11 non-null     float64
 22   +/-.9     0 non-null      float64
 23   Ti        1202 non-null   float64
 24   +/-.10    1211 non-null   float64
 25   V         607 non-null    float64
 26   +/-.11    605 non-null    float64
 27   Cr        1090 non-null   float64
 28   +/-.12    1086 non-null   float64
 29   Mn        197 non-null    float64
 30   +/-.13    195 non-null    float64
 31   Fe        1248 non-null   float64
 32   +/-.14    1258 non-null   float64
 33   Co        120 non-null    float64
 34   +/-.15    110 non-null    float64
 35   Ni        172 non-null    float64
 36   +/-.16    171 non-null    float64
 37   Cu        474 non-null    float64
 38   +/-.17    482 non-null    float64
 39   Zn        560 non-null    float64
 40   +/-.18    559 non-null    float64
 41   Ga        7 non-null      float64
 42   +/-.19    0 non-null      float64
 43   Ge        0 non-null      float64
 44   +/-.20    0 non-null      float64
 45   As        832 non-null    float64
 46   +/-.21    840 non-null    float64
 47   Se        204 non-null    float64
 48   +/-.22    198 non-null    float64
 49   Br        2 non-null      float64
 50   +/-.23    0 non-null      float64
 51   Kr        0 non-null      float64
 52   +/-.24    0 non-null      float64
 53   Rb        244 non-null    float64
 54   +/-.25    245 non-null    float64
 55   Sr        815 non-null    float64
 56   +/-.26    822 non-null    float64
 57   Y         8 non-null      float64
 58   +/-.27    0 non-null      float64
 59   Zr        924 non-null    float64
 60   +/-.28    931 non-null    float64
 61   Nb        7 non-null      float64
 62   +/-.29    0 non-null      float64
 63   Mo        575 non-null    float64
 64   +/-.30    583 non-null    float64
 65   Tc        8 non-null      float64
 66   +/-.31    0 non-null      float64
 67   Ru        0 non-null      float64
 68   +/-.32    0 non-null      float64
 69   Rh        0 non-null      float64
 70   +/-.33    0 non-null      float64
 71   Pd        0 non-null      float64
 72   +/-.34    0 non-null      float64
 73   Ag        241 non-null    float64
 74   +/-.35    242 non-null    float64
 75   Cd        87 non-null     float64
 76   +/-.36    89 non-null     float64
 77   In        3 non-null      float64
 78   +/-.37    0 non-null      float64
 79   Sn        483 non-null    float64
 80   +/-.38    489 non-null    float64
 81   Sb        245 non-null    float64
 82   +/-.39    240 non-null    float64
 83   Te        1 non-null      float64
 84   +/-.40    0 non-null      float64
 85   I         0 non-null      float64
 86   +/-.41    0 non-null      float64
 87   Xe        0 non-null      float64
 88   +/-.42    0 non-null      float64
 89   Cs        0 non-null      float64
 90   +/-.43    0 non-null      float64
 91   Ba        385 non-null    float64
 92   +/-.44    391 non-null    float64
 93   La        6 non-null      float64
 94   +/-.45    0 non-null      float64
 95   Ce        0 non-null      float64
 96   +/-.46    0 non-null      float64
 97   Pr        0 non-null      float64
 98   +/-.47    0 non-null      float64
 99   Nd        0 non-null      float64
 100  +/-.48    0 non-null      float64
 101  Pm        0 non-null      float64
 102  +/-.49    0 non-null      float64
 103  Sm        0 non-null      float64
 104  +/-.50    0 non-null      float64
 105  Eu        0 non-null      float64
 106  +/-.51    0 non-null      float64
 107  Gd        0 non-null      float64
 108  +/-.52    0 non-null      float64
 109  Tb        0 non-null      float64
 110  +/-.53    0 non-null      float64
 111  Dy        0 non-null      float64
 112  +/-.54    0 non-null      float64
 113  Ho        0 non-null      float64
 114  +/-.55    0 non-null      float64
 115  Er        0 non-null      float64
 116  +/-.56    0 non-null      float64
 117  Tm        0 non-null      float64
 118  +/-.57    0 non-null      float64
 119  Yb        0 non-null      float64
 120  +/-.58    0 non-null      float64
 121  Lu        0 non-null      float64
 122  +/-.59    0 non-null      float64
 123  Hf        0 non-null      float64
 124  +/-.60    0 non-null      float64
 125  Ta        614 non-null    float64
 126  +/-.61    615 non-null    float64
 127  W         44 non-null     float64
 128  +/-.62    43 non-null     float64
 129  Re        0 non-null      float64
 130  +/-.63    0 non-null      float64
 131  Os        0 non-null      float64
 132  +/-.64    0 non-null      float64
 133  Ir        0 non-null      float64
 134  +/-.65    0 non-null      float64
 135  Pt        0 non-null      float64
 136  +/-.66    0 non-null      float64
 137  Au        54 non-null     float64
 138  +/-.67    54 non-null     float64
 139  Hg        33 non-null     float64
 140  +/-.68    33 non-null     float64
 141  Tl        200 non-null    float64
 142  +/-.69    201 non-null    float64
 143  Pb        87 non-null     float64
 144  +/-.70    86 non-null     float64
 145  Bi        0 non-null      float64
 146  +/-.71    0 non-null      float64
 147  Po        0 non-null      float64
 148  +/-.72    0 non-null      float64
 149  At        0 non-null      float64
 150  +/-.73    0 non-null      float64
 151  Rn        0 non-null      float64
 152  +/-.74    0 non-null      float64
 153  Fr        0 non-null      float64
 154  +/-.75    0 non-null      float64
 155  Ra        0 non-null      float64
 156  +/-.76    0 non-null      float64
 157  Ac        0 non-null      float64
 158  +/-.77    0 non-null      float64
 159  Th        2 non-null      float64
 160  +/-.78    2 non-null      float64
 161  Pa        0 non-null      float64
 162  +/-.79    0 non-null      float64
 163  U         0 non-null      float64
 164  +/-.80    0 non-null      float64
dtypes: float64(163), int64(1), object(1)
memory usage: 1.6+ MB

In [4]:
df2.Name.nunique()

1262

In [3]:
#df3 = df3.drop_duplicates(subset='Name')
df3.Name.value_counts()

MP-865               1
MP-751               1
MP-1585              1
MP-1584              1
MP-1583              1
                    ..
GUARDA148            1
GUARDA147            1
GUARDA146            1
GUARDA145            1
Cueva del Vaquero    1
Name: Name, Length: 1263, dtype: int64

In [5]:


# Supongamos que tienes los DataFrames df1 y df2

# Crear un conjunto de nombres Ãºnicos en df1 y df2
names_df2 = set(df2['Name'])
names_df3 = set(df3['Name'])

# Encontrar el nombre Ãºnico en df2
unique_name_in_df3 = names_df3 - names_df2

# Convertir el conjunto resultante en una lista
unique_name_list = list(unique_name_in_df3)

# Si solo hay un nombre Ãºnico en df2
if len(unique_name_list) == 1:
    unique_name = unique_name_list[0]
    print(f"El nombre Ãºnico en df2 es: {unique_name}")
else:
    print("Error: Se encontraron mÃºltiples nombres Ãºnicos en df3.")

El nombre Ãºnico en df2 es: CasetÃ³n-03

In [4]:
df3.isnull().any().any()

True

In [8]:
df3.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1267 entries, 0 to 1266
Series name: Name
Non-Null Count  Dtype
--------------  -----
1267 non-null   object
dtypes: object(1)
memory usage: 10.0+ KB

In [9]:
df2 = df2.Name

In [10]:
df2.isnull().any().any()

False

In [11]:
df2.info()

<class 'pandas.core.series.Series'>
Int64Index: 1262 entries, 0 to 1261
Series name: Name
Non-Null Count  Dtype
--------------  -----
1262 non-null   object
dtypes: object(1)
memory usage: 19.7+ KB

In [12]:
merged = pd.merge(df2, df3)

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1266 entries, 0 to 1265
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    1266 non-null   object
dtypes: object(1)
memory usage: 19.8+ KB