In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("./DATA/MACLAS_DATASET.csv")
#df = pd.read_excel("/home/dsg/MACLAS_final/intermediate_data/Marmota y Lapas.xlsx", engine='openpyxl') #directorio de trabajo
df = pd.read_excel("/home/dsg/MACLAS_final/DATA/mp-700.xlsx", engine='openpyxl') #directorio de trabajo

In [3]:

#df= df.drop_duplicates(subset=['Name'], keep='first')
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 184 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    id_inv             1 non-null      object
 1    Method             1 non-null      object
 2    Date XRF           1 non-null      datetime64[ns]
 3    Time               1 non-null      object
 4    Duration           1 non-null      float64
 5    Mg                 0 non-null      float64
 6    +/-                0 non-null      float64
 7    Al                 1 non-null      float64
 8    +/-.1              1 non-null      float64
 9    Si                 1 non-null      float64
 10   +/-.2              1 non-null      float64
 11   P                  1 non-null      float64
 12   +/-.3              1 non-null      float64
 13   S                  1 non-null      float64
 14   +/-.4              1 non-null      float64
 15   Cl                 1 non-null      float64
 16   +/-.5              1 non-null      float64
 17   Ar                 0 non-null      float64
 18   +/-.6              0 non-null      float64
 19   K                  1 non-null      float64
 20   +/-.7              1 non-null      float64
 21   Ca                 1 non-null      float64
 22   +/-.8              1 non-null      float64
 23   Sc                 0 non-null      float64
 24   +/-.9              0 non-null      float64
 25   Ti                 1 non-null      float64
 26   +/-.10             1 non-null      float64
 27   V                  1 non-null      float64
 28   +/-.11             1 non-null      float64
 29   Cr                 1 non-null      float64
 30   +/-.12             1 non-null      float64
 31   Mn                 0 non-null      float64
 32   +/-.13             0 non-null      float64
 33   Fe                 1 non-null      float64
 34   +/-.14             1 non-null      float64
 35   Co                 0 non-null      float64
 36   +/-.15             0 non-null      float64
 37   Ni                 0 non-null      float64
 38   +/-.16             0 non-null      float64
 39   Cu                 1 non-null      float64
 40   +/-.17             1 non-null      float64
 41   Zn                 1 non-null      float64
 42   +/-.18             1 non-null      float64
 43   Ga                 0 non-null      float64
 44   +/-.19             0 non-null      float64
 45   Ge                 0 non-null      float64
 46   +/-.20             0 non-null      float64
 47   As                 1 non-null      float64
 48   +/-.21             1 non-null      float64
 49   Se                 0 non-null      float64
 50   +/-.22             0 non-null      float64
 51   Br                 0 non-null      float64
 52   +/-.23             0 non-null      float64
 53   Kr                 0 non-null      float64
 54   +/-.24             0 non-null      float64
 55   Rb                 0 non-null      float64
 56   +/-.25             0 non-null      float64
 57   Sr                 1 non-null      float64
 58   +/-.26             1 non-null      float64
 59   Y                  0 non-null      float64
 60   +/-.27             0 non-null      float64
 61   Zr                 1 non-null      float64
 62   +/-.28             1 non-null      float64
 63   Nb                 0 non-null      float64
 64   +/-.29             0 non-null      float64
 65   Mo                 1 non-null      float64
 66   +/-.30             1 non-null      float64
 67   Tc                 0 non-null      float64
 68   +/-.31             0 non-null      float64
 69   Ru                 0 non-null      float64
 70   +/-.32             0 non-null      float64
 71   Rh                 0 non-null      float64
 72   +/-.33             0 non-null      float64
 73   Pd                 0 non-null      float64
 74   +/-.34             0 non-null      float64
 75   Ag                 1 non-null      float64
 76   +/-.35             1 non-null      float64
 77   Cd                 1 non-null      float64
 78   +/-.36             1 non-null      float64
 79   In                 0 non-null      float64
 80   +/-.37             0 non-null      float64
 81   Sn                 1 non-null      float64
 82   +/-.38             1 non-null      float64
 83   Sb                 0 non-null      float64
 84   +/-.39             0 non-null      float64
 85   Te                 0 non-null      float64
 86   +/-.40             0 non-null      float64
 87   I                  0 non-null      float64
 88   +/-.41             0 non-null      float64
 89   Xe                 0 non-null      float64
 90   +/-.42             0 non-null      float64
 91   Cs                 0 non-null      float64
 92   +/-.43             0 non-null      float64
 93   Ba                 1 non-null      float64
 94   +/-.44             1 non-null      float64
 95   La                 0 non-null      float64
 96   +/-.45             0 non-null      float64
 97   Ce                 0 non-null      float64
 98   +/-.46             0 non-null      float64
 99   Pr                 0 non-null      float64
 100  +/-.47             0 non-null      float64
 101  Nd                 0 non-null      float64
 102  +/-.48             0 non-null      float64
 103  Pm                 0 non-null      float64
 104  +/-.49             0 non-null      float64
 105  Sm                 0 non-null      float64
 106  +/-.50             0 non-null      float64
 107  Eu                 0 non-null      float64
 108  +/-.51             0 non-null      float64
 109  Gd                 0 non-null      float64
 110  +/-.52             0 non-null      float64
 111  Tb                 0 non-null      float64
 112  +/-.53             0 non-null      float64
 113  Dy                 0 non-null      float64
 114  +/-.54             0 non-null      float64
 115  Ho                 0 non-null      float64
 116  +/-.55             0 non-null      float64
 117  Er                 0 non-null      float64
 118  +/-.56             0 non-null      float64
 119  Tm                 0 non-null      float64
 120  +/-.57             0 non-null      float64
 121  Yb                 0 non-null      float64
 122  +/-.58             0 non-null      float64
 123  Lu                 0 non-null      float64
 124  +/-.59             0 non-null      float64
 125  Hf                 0 non-null      float64
 126  +/-.60             0 non-null      float64
 127  Ta                 1 non-null      float64
 128  +/-.61             1 non-null      float64
 129  W                  0 non-null      float64
 130  +/-.62             0 non-null      float64
 131  Re                 0 non-null      float64
 132  +/-.63             0 non-null      float64
 133  Os                 0 non-null      float64
 134  +/-.64             0 non-null      float64
 135  Ir                 0 non-null      float64
 136  +/-.65             0 non-null      float64
 137  Pt                 0 non-null      float64
 138  +/-.66             0 non-null      float64
 139  Au                 0 non-null      float64
 140  +/-.67             0 non-null      float64
 141  Hg                 0 non-null      float64
 142  +/-.68             0 non-null      float64
 143  Tl                 1 non-null      float64
 144  +/-.69             1 non-null      float64
 145  Pb                 0 non-null      float64
 146  +/-.70             0 non-null      float64
 147  Bi                 0 non-null      float64
 148  +/-.71             0 non-null      float64
 149  Po                 0 non-null      float64
 150  +/-.72             0 non-null      float64
 151  At                 0 non-null      float64
 152  +/-.73             0 non-null      float64
 153  Rn                 0 non-null      float64
 154  +/-.74             0 non-null      float64
 155  Fr                 0 non-null      float64
 156  +/-.75             0 non-null      float64
 157  Ra                 0 non-null      float64
 158  +/-.76             0 non-null      float64
 159  Ac                 0 non-null      float64
 160  +/-.77             0 non-null      float64
 161  Th                 0 non-null      float64
 162  +/-.78             0 non-null      float64
 163  Pa                 0 non-null      float64
 164  +/-.79             0 non-null      float64
 165  U                  0 non-null      float64
 166  +/-.80             0 non-null      float64
 167  Raw_material       0 non-null      float64
 168  Museum             0 non-null      float64
 169  decoration         0 non-null      float64
 170  Color              0 non-null      float64
 171  Perf_type          0 non-null      float64
 172  Alto               0 non-null      float64
 173  Alto. Max          0 non-null      float64
 174  Ancho / Diam       0 non-null      float64
 175  Ancho min          0 non-null      float64
 176  Largo / Grosor     0 non-null      float64
 177  Diam. Perforación  0 non-null      float64
 178  Peso               0 non-null      float64
 179  Type               0 non-null      float64
 180  L                  0 non-null      float64
 181  A                  0 non-null      float64
 182  B                  0 non-null      float64
 183  Fecha cuaderno     0 non-null      float64
dtypes: datetime64[ns](1), float64(180), object(3)
memory usage: 1.6+ KB

 Performing a basic dimensional reduction by eliminating columns containing the "+/-" character.

In [4]:
#Dimensional reduction 
df = df.loc[:, ~df.columns.str.startswith('+/-')]
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 103 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    id_inv             1 non-null      object
 1    Method             1 non-null      object
 2    Date XRF           1 non-null      datetime64[ns]
 3    Time               1 non-null      object
 4    Duration           1 non-null      float64
 5    Mg                 0 non-null      float64
 6    Al                 1 non-null      float64
 7    Si                 1 non-null      float64
 8    P                  1 non-null      float64
 9    S                  1 non-null      float64
 10   Cl                 1 non-null      float64
 11   Ar                 0 non-null      float64
 12   K                  1 non-null      float64
 13   Ca                 1 non-null      float64
 14   Sc                 0 non-null      float64
 15   Ti                 1 non-null      float64
 16   V                  1 non-null      float64
 17   Cr                 1 non-null      float64
 18   Mn                 0 non-null      float64
 19   Fe                 1 non-null      float64
 20   Co                 0 non-null      float64
 21   Ni                 0 non-null      float64
 22   Cu                 1 non-null      float64
 23   Zn                 1 non-null      float64
 24   Ga                 0 non-null      float64
 25   Ge                 0 non-null      float64
 26   As                 1 non-null      float64
 27   Se                 0 non-null      float64
 28   Br                 0 non-null      float64
 29   Kr                 0 non-null      float64
 30   Rb                 0 non-null      float64
 31   Sr                 1 non-null      float64
 32   Y                  0 non-null      float64
 33   Zr                 1 non-null      float64
 34   Nb                 0 non-null      float64
 35   Mo                 1 non-null      float64
 36   Tc                 0 non-null      float64
 37   Ru                 0 non-null      float64
 38   Rh                 0 non-null      float64
 39   Pd                 0 non-null      float64
 40   Ag                 1 non-null      float64
 41   Cd                 1 non-null      float64
 42   In                 0 non-null      float64
 43   Sn                 1 non-null      float64
 44   Sb                 0 non-null      float64
 45   Te                 0 non-null      float64
 46   I                  0 non-null      float64
 47   Xe                 0 non-null      float64
 48   Cs                 0 non-null      float64
 49   Ba                 1 non-null      float64
 50   La                 0 non-null      float64
 51   Ce                 0 non-null      float64
 52   Pr                 0 non-null      float64
 53   Nd                 0 non-null      float64
 54   Pm                 0 non-null      float64
 55   Sm                 0 non-null      float64
 56   Eu                 0 non-null      float64
 57   Gd                 0 non-null      float64
 58   Tb                 0 non-null      float64
 59   Dy                 0 non-null      float64
 60   Ho                 0 non-null      float64
 61   Er                 0 non-null      float64
 62   Tm                 0 non-null      float64
 63   Yb                 0 non-null      float64
 64   Lu                 0 non-null      float64
 65   Hf                 0 non-null      float64
 66   Ta                 1 non-null      float64
 67   W                  0 non-null      float64
 68   Re                 0 non-null      float64
 69   Os                 0 non-null      float64
 70   Ir                 0 non-null      float64
 71   Pt                 0 non-null      float64
 72   Au                 0 non-null      float64
 73   Hg                 0 non-null      float64
 74   Tl                 1 non-null      float64
 75   Pb                 0 non-null      float64
 76   Bi                 0 non-null      float64
 77   Po                 0 non-null      float64
 78   At                 0 non-null      float64
 79   Rn                 0 non-null      float64
 80   Fr                 0 non-null      float64
 81   Ra                 0 non-null      float64
 82   Ac                 0 non-null      float64
 83   Th                 0 non-null      float64
 84   Pa                 0 non-null      float64
 85   U                  0 non-null      float64
 86   Raw_material       0 non-null      float64
 87   Museum             0 non-null      float64
 88   decoration         0 non-null      float64
 89   Color              0 non-null      float64
 90   Perf_type          0 non-null      float64
 91   Alto               0 non-null      float64
 92   Alto. Max          0 non-null      float64
 93   Ancho / Diam       0 non-null      float64
 94   Ancho min          0 non-null      float64
 95   Largo / Grosor     0 non-null      float64
 96   Diam. Perforación  0 non-null      float64
 97   Peso               0 non-null      float64
 98   Type               0 non-null      float64
 99   L                  0 non-null      float64
 100  A                  0 non-null      float64
 101  B                  0 non-null      float64
 102  Fecha cuaderno     0 non-null      float64
dtypes: datetime64[ns](1), float64(99), object(3)
memory usage: 952.0+ bytes

Then we create an intermediate dataframe filtering only the columns with information of our interest

In [5]:
contextual_info = df.iloc[:, :5]
filter_df = df.iloc[:, 5:]
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 98 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mg                 0 non-null      float64
 1   Al                 1 non-null      float64
 2   Si                 1 non-null      float64
 3   P                  1 non-null      float64
 4   S                  1 non-null      float64
 5   Cl                 1 non-null      float64
 6   Ar                 0 non-null      float64
 7   K                  1 non-null      float64
 8   Ca                 1 non-null      float64
 9   Sc                 0 non-null      float64
 10  Ti                 1 non-null      float64
 11  V                  1 non-null      float64
 12  Cr                 1 non-null      float64
 13  Mn                 0 non-null      float64
 14  Fe                 1 non-null      float64
 15  Co                 0 non-null      float64
 16  Ni                 0 non-null      float64
 17  Cu                 1 non-null      float64
 18  Zn                 1 non-null      float64
 19  Ga                 0 non-null      float64
 20  Ge                 0 non-null      float64
 21  As                 1 non-null      float64
 22  Se                 0 non-null      float64
 23  Br                 0 non-null      float64
 24  Kr                 0 non-null      float64
 25  Rb                 0 non-null      float64
 26  Sr                 1 non-null      float64
 27  Y                  0 non-null      float64
 28  Zr                 1 non-null      float64
 29  Nb                 0 non-null      float64
 30  Mo                 1 non-null      float64
 31  Tc                 0 non-null      float64
 32  Ru                 0 non-null      float64
 33  Rh                 0 non-null      float64
 34  Pd                 0 non-null      float64
 35  Ag                 1 non-null      float64
 36  Cd                 1 non-null      float64
 37  In                 0 non-null      float64
 38  Sn                 1 non-null      float64
 39  Sb                 0 non-null      float64
 40  Te                 0 non-null      float64
 41  I                  0 non-null      float64
 42  Xe                 0 non-null      float64
 43  Cs                 0 non-null      float64
 44  Ba                 1 non-null      float64
 45  La                 0 non-null      float64
 46  Ce                 0 non-null      float64
 47  Pr                 0 non-null      float64
 48  Nd                 0 non-null      float64
 49  Pm                 0 non-null      float64
 50  Sm                 0 non-null      float64
 51  Eu                 0 non-null      float64
 52  Gd                 0 non-null      float64
 53  Tb                 0 non-null      float64
 54  Dy                 0 non-null      float64
 55  Ho                 0 non-null      float64
 56  Er                 0 non-null      float64
 57  Tm                 0 non-null      float64
 58  Yb                 0 non-null      float64
 59  Lu                 0 non-null      float64
 60  Hf                 0 non-null      float64
 61  Ta                 1 non-null      float64
 62  W                  0 non-null      float64
 63  Re                 0 non-null      float64
 64  Os                 0 non-null      float64
 65  Ir                 0 non-null      float64
 66  Pt                 0 non-null      float64
 67  Au                 0 non-null      float64
 68  Hg                 0 non-null      float64
 69  Tl                 1 non-null      float64
 70  Pb                 0 non-null      float64
 71  Bi                 0 non-null      float64
 72  Po                 0 non-null      float64
 73  At                 0 non-null      float64
 74  Rn                 0 non-null      float64
 75  Fr                 0 non-null      float64
 76  Ra                 0 non-null      float64
 77  Ac                 0 non-null      float64
 78  Th                 0 non-null      float64
 79  Pa                 0 non-null      float64
 80  U                  0 non-null      float64
 81  Raw_material       0 non-null      float64
 82  Museum             0 non-null      float64
 83  decoration         0 non-null      float64
 84  Color              0 non-null      float64
 85  Perf_type          0 non-null      float64
 86  Alto               0 non-null      float64
 87  Alto. Max          0 non-null      float64
 88  Ancho / Diam       0 non-null      float64
 89  Ancho min          0 non-null      float64
 90  Largo / Grosor     0 non-null      float64
 91  Diam. Perforación  0 non-null      float64
 92  Peso               0 non-null      float64
 93  Type               0 non-null      float64
 94  L                  0 non-null      float64
 95  A                  0 non-null      float64
 96  B                  0 non-null      float64
 97  Fecha cuaderno     0 non-null      float64
dtypes: float64(98)
memory usage: 912.0 bytes

Appling a 20% threshold of NaN values for delete columns

In [6]:
nan_treshold = 0.80  
cases = len(df) 

# iterate over each column of filter_df and eliminate those that exceed the limit of missing values
for col in filter_df.columns:
    missing_values = filter_df[col].isnull().sum()  # missinig values in each column
    missing_values_percentage = missing_values / cases  # precentage of NaN 

     #drop a column if NaN is greater than 20%
    if missing_values_percentage > nan_treshold:
        del filter_df[col]

In [6]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      31 non-null     float64
 1   Al      32 non-null     float64
 2   Si      32 non-null     float64
 3   P       32 non-null     float64
 4   S       32 non-null     float64
 5   Cl      32 non-null     float64
 6   Ar      0 non-null      float64
 7   K       21 non-null     float64
 8   Ca      32 non-null     float64
 9   Sc      0 non-null      float64
 10  Ti      31 non-null     float64
 11  V       1 non-null      float64
 12  Cr      27 non-null     float64
 13  Mn      22 non-null     float64
 14  Fe      32 non-null     float64
 15  Co      16 non-null     float64
 16  Ni      23 non-null     float64
 17  Cu      5 non-null      float64
 18  Zn      29 non-null     float64
 19  Ga      0 non-null      float64
 20  Ge      0 non-null      float64
 21  As      2 non-null      float64
 22  Se      0 non-null      float64
 23  Br      0 non-null      float64
 24  Kr      0 non-null      float64
 25  Rb      11 non-null     float64
 26  Sr      13 non-null     float64
 27  Y       0 non-null      float64
 28  Zr      14 non-null     float64
 29  Nb      0 non-null      float64
 30  Mo      24 non-null     float64
 31  Tc      0 non-null      float64
 32  Ru      0 non-null      float64
 33  Rh      0 non-null      float64
 34  Pd      0 non-null      float64
 35  Ag      14 non-null     float64
 36  Cd      2 non-null      float64
 37  In      0 non-null      float64
 38  Sn      20 non-null     float64
 39  Sb      6 non-null      float64
 40  Te      0 non-null      float64
 41  I       0 non-null      float64
 42  Xe      0 non-null      float64
 43  Cs      0 non-null      float64
 44  Ba      13 non-null     float64
 45  La      0 non-null      float64
 46  Ce      0 non-null      float64
 47  Pr      0 non-null      float64
 48  Nd      0 non-null      float64
 49  Pm      0 non-null      float64
 50  Sm      0 non-null      float64
 51  Eu      0 non-null      float64
 52  Gd      0 non-null      float64
 53  Tb      0 non-null      float64
 54  Dy      0 non-null      float64
 55  Ho      0 non-null      float64
 56  Er      0 non-null      float64
 57  Tm      0 non-null      float64
 58  Yb      0 non-null      float64
 59  Lu      0 non-null      float64
 60  Hf      0 non-null      float64
 61  Ta      2 non-null      float64
 62  W       1 non-null      float64
 63  Re      0 non-null      float64
 64  Os      0 non-null      float64
 65  Ir      0 non-null      float64
 66  Pt      0 non-null      float64
 67  Au      4 non-null      float64
 68  Hg      2 non-null      float64
 69  Tl      1 non-null      float64
 70  Pb      0 non-null      float64
 71  Bi      0 non-null      float64
 72  Po      0 non-null      float64
 73  At      0 non-null      float64
 74  Rn      0 non-null      float64
 75  Fr      0 non-null      float64
 76  Ra      0 non-null      float64
 77  Ac      0 non-null      float64
 78  Th      1 non-null      float64
 79  Pa      0 non-null      float64
 80  U       0 non-null      float64
dtypes: float64(81)
memory usage: 20.4 KB

In [6]:
default_values = {
        'Mg': 0.01,'Al': 0.001,'Si': 0.001,
        'P': 0.001,'S': 0.001,'Cl': 0.001,
        'K': 0.0001,'Ca': 0.0001,'Sc': 0.0001,
        'Ti': 0.0001,'V': 0.0001,'Cr': 0.0001,
        'Mn': 0.0001,'Fe': 0.0001,'Co': 0.0001,
        'Ni': 0.0001,'Cu': 0.00001,'Zn': 0.00001,
        'Ga': 0.00001,'Ge': 0.00001,'As': 0.00001,
        'Se': 0.00001,'Br': 0.00001,'Rb': 0.00001,
        'Sr': 0.00001,'Y': 0.00001,'Zr': 0.00001,
        'Nb': 0.00001,'Mo': 0.00001,'Ru': 0.00001,
        'Pd': 0.00001,'Ag': 0.00001,'Cd': 0.00001,
        'In': 0.00001,'Sn': 0.00001,'Sb': 0.00001,
        'Te': 0.00001,'Ba': 0.00001,'Ta': 0.00001,
        'W': 0.00001,'Au': 0.00001,'Hg': 0.00001,
        'Tl': 0.00001,'Pb': 0.00001,'Th': 0.00001
    }
        


filter_df= filter_df.fillna(default_values)
#filter_df = filter_df.fillna(0,axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,Ar,K,Ca,Sc,...,Ancho / Diam,Ancho min,Largo / Grosor,Diam. Perforación,Peso,Type,L,A,B,Fecha cuaderno
0,0.01,22.2569,6.6711,16.8027,0.3207,4.64,NaN,0.7533,3.1145,0.0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 98 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mg                 1 non-null      float64
 1   Al                 1 non-null      float64
 2   Si                 1 non-null      float64
 3   P                  1 non-null      float64
 4   S                  1 non-null      float64
 5   Cl                 1 non-null      float64
 6   Ar                 0 non-null      float64
 7   K                  1 non-null      float64
 8   Ca                 1 non-null      float64
 9   Sc                 1 non-null      float64
 10  Ti                 1 non-null      float64
 11  V                  1 non-null      float64
 12  Cr                 1 non-null      float64
 13  Mn                 1 non-null      float64
 14  Fe                 1 non-null      float64
 15  Co                 1 non-null      float64
 16  Ni                 1 non-null      float64
 17  Cu                 1 non-null      float64
 18  Zn                 1 non-null      float64
 19  Ga                 1 non-null      float64
 20  Ge                 1 non-null      float64
 21  As                 1 non-null      float64
 22  Se                 1 non-null      float64
 23  Br                 1 non-null      float64
 24  Kr                 0 non-null      float64
 25  Rb                 1 non-null      float64
 26  Sr                 1 non-null      float64
 27  Y                  1 non-null      float64
 28  Zr                 1 non-null      float64
 29  Nb                 1 non-null      float64
 30  Mo                 1 non-null      float64
 31  Tc                 0 non-null      float64
 32  Ru                 1 non-null      float64
 33  Rh                 0 non-null      float64
 34  Pd                 1 non-null      float64
 35  Ag                 1 non-null      float64
 36  Cd                 1 non-null      float64
 37  In                 1 non-null      float64
 38  Sn                 1 non-null      float64
 39  Sb                 1 non-null      float64
 40  Te                 1 non-null      float64
 41  I                  0 non-null      float64
 42  Xe                 0 non-null      float64
 43  Cs                 0 non-null      float64
 44  Ba                 1 non-null      float64
 45  La                 0 non-null      float64
 46  Ce                 0 non-null      float64
 47  Pr                 0 non-null      float64
 48  Nd                 0 non-null      float64
 49  Pm                 0 non-null      float64
 50  Sm                 0 non-null      float64
 51  Eu                 0 non-null      float64
 52  Gd                 0 non-null      float64
 53  Tb                 0 non-null      float64
 54  Dy                 0 non-null      float64
 55  Ho                 0 non-null      float64
 56  Er                 0 non-null      float64
 57  Tm                 0 non-null      float64
 58  Yb                 0 non-null      float64
 59  Lu                 0 non-null      float64
 60  Hf                 0 non-null      float64
 61  Ta                 1 non-null      float64
 62  W                  1 non-null      float64
 63  Re                 0 non-null      float64
 64  Os                 0 non-null      float64
 65  Ir                 0 non-null      float64
 66  Pt                 0 non-null      float64
 67  Au                 1 non-null      float64
 68  Hg                 1 non-null      float64
 69  Tl                 1 non-null      float64
 70  Pb                 1 non-null      float64
 71  Bi                 0 non-null      float64
 72  Po                 0 non-null      float64
 73  At                 0 non-null      float64
 74  Rn                 0 non-null      float64
 75  Fr                 0 non-null      float64
 76  Ra                 0 non-null      float64
 77  Ac                 0 non-null      float64
 78  Th                 1 non-null      float64
 79  Pa                 0 non-null      float64
 80  U                  0 non-null      float64
 81  Raw_material       0 non-null      float64
 82  Museum             0 non-null      float64
 83  decoration         0 non-null      float64
 84  Color              0 non-null      float64
 85  Perf_type          0 non-null      float64
 86  Alto               0 non-null      float64
 87  Alto. Max          0 non-null      float64
 88  Ancho / Diam       0 non-null      float64
 89  Ancho min          0 non-null      float64
 90  Largo / Grosor     0 non-null      float64
 91  Diam. Perforación  0 non-null      float64
 92  Peso               0 non-null      float64
 93  Type               0 non-null      float64
 94  L                  0 non-null      float64
 95  A                  0 non-null      float64
 96  B                  0 non-null      float64
 97  Fecha cuaderno     0 non-null      float64
dtypes: float64(98)
memory usage: 912.0 bytes

In [8]:
filter_df = filter_df.dropna(axis=1)

In [12]:
filter_df = filter_df.fillna(0,axis=1)

In [9]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      1 non-null      float64
 1   Al      1 non-null      float64
 2   Si      1 non-null      float64
 3   P       1 non-null      float64
 4   S       1 non-null      float64
 5   Cl      1 non-null      float64
 6   K       1 non-null      float64
 7   Ca      1 non-null      float64
 8   Sc      1 non-null      float64
 9   Ti      1 non-null      float64
 10  V       1 non-null      float64
 11  Cr      1 non-null      float64
 12  Mn      1 non-null      float64
 13  Fe      1 non-null      float64
 14  Co      1 non-null      float64
 15  Ni      1 non-null      float64
 16  Cu      1 non-null      float64
 17  Zn      1 non-null      float64
 18  Ga      1 non-null      float64
 19  Ge      1 non-null      float64
 20  As      1 non-null      float64
 21  Se      1 non-null      float64
 22  Br      1 non-null      float64
 23  Rb      1 non-null      float64
 24  Sr      1 non-null      float64
 25  Y       1 non-null      float64
 26  Zr      1 non-null      float64
 27  Nb      1 non-null      float64
 28  Mo      1 non-null      float64
 29  Ru      1 non-null      float64
 30  Pd      1 non-null      float64
 31  Ag      1 non-null      float64
 32  Cd      1 non-null      float64
 33  In      1 non-null      float64
 34  Sn      1 non-null      float64
 35  Sb      1 non-null      float64
 36  Te      1 non-null      float64
 37  Ba      1 non-null      float64
 38  Ta      1 non-null      float64
 39  W       1 non-null      float64
 40  Au      1 non-null      float64
 41  Hg      1 non-null      float64
 42  Tl      1 non-null      float64
 43  Pb      1 non-null      float64
 44  Th      1 non-null      float64
dtypes: float64(45)
memory usage: 488.0 bytes

Transforming values into atomic percentages by dividing each column value by the atomic weight of its element.

In [10]:
atomic_weights = {
        'Mg': 24.305,'Al': 26.982,'Si': 28.085,'P': 30.974,
        'S': 32.065,'Cl': 35.453,'K': 39.098,'Ca': 40.078,
        'Sc': 44.955,'Ti': 47.867,'V': 50.942,'Cr': 51.996,
        'Mn': 54.938,'Fe': 55.845,'Co': 58.933,'Ni': 58.693,
        'Cu': 63.546,'Zn': 65.380,'Ga': 69.723,'Ge': 72.63,
        'As': 74.922,'Se': 78.971,'Br': 79.904,'Rb': 85.468,
        'Sr': 87.620,'Y': 88.906,'Zr': 91.224,'Nb': 92.906,
        'Mo': 95.950,'Ru': 101.070,'Pd': 106.420,'Ag': 107.868,
        'Cd': 112.411,'In': 114.82,'Sn': 118.710,'Sb': 121.760,
        'Te': 127.600,'Ba': 137.327,'Ta': 180.948,'W': 183.840,
        'Au': 196.966,'Hg': 200.590,'Tl': 204.383,'Pb': 207.200,
        'Th': 232.038
    } 

# transform into atomic percentages________________________
for col, value in atomic_weights.items():
        try:
            filter_df[col] = filter_df[col] / value 
        except KeyError: # Ignoring if a column is not numeric
            pass

In [11]:
filter_df.K[17]

2.557675584428871e-06

In [14]:
filter_df = filter_df.round(5)

summing up the values of each sample and storing them in the sum variable

In [11]:
filter_df['Σ'] = np.sum(filter_df.iloc[:, :-1].values, axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Sc,Ti,...,Te,Ba,Ta,W,Au,Hg,Tl,Pb,Th,Σ
0,0.000411,0.82488,0.237532,0.542478,0.010002,0.130877,0.019267,0.077711,0.000002,0.006019,...,7.836991e-08,0.001258,0.000301,5.439513e-08,5.077018e-08,4.985293e-08,0.000045,4.826255e-08,4.309639e-08,1.924169

In [16]:
filter_df.K[17]

0.14913

In [12]:

for col in filter_df.columns:
    if col != 'Σ':
        filter_df[col] = filter_df[col] / filter_df['Σ'] * 100

In [17]:
filter_df.K[17]

8.445342269680108

In [13]:
filter_df = filter_df.drop(['Σ'], axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Sc,Ti,...,Sb,Te,Ba,Ta,W,Au,Hg,Tl,Pb,Th
0,0.021383,42.869383,12.344677,28.192818,0.519786,6.801766,1.001314,4.038676,0.000116,0.312798,...,0.000004,0.000004,0.065395,0.015624,0.000003,0.000003,0.000003,0.002339,0.000003,0.000002

In [14]:
filter_df['Σ'] = np.sum(filter_df.values, axis=1)
filter_df['Σ']=filter_df['Σ']
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Sc,Ti,...,Te,Ba,Ta,W,Au,Hg,Tl,Pb,Th,Σ
0,0.021383,42.869383,12.344677,28.192818,0.519786,6.801766,1.001314,4.038676,0.000116,0.312798,...,0.000004,0.065395,0.015624,0.000003,0.000003,0.000003,0.002339,0.000003,0.000002,100.000002

Merging preprocessed data with contextual information.

In [15]:
preprocessed_df = pd.concat([contextual_info, filter_df], axis="columns")

preprocessed_df.head()

,id_inv,Method,Date XRF,Time,Duration,Mg,Al,Si,P,S,...,Te,Ba,Ta,W,Au,Hg,Tl,Pb,Th,Σ
0,MP-700,Soil_LE_FP,2014-10-28,15:05:44,60.532,0.021383,42.869383,12.344677,28.192818,0.519786,...,0.000004,0.065395,0.015624,0.000003,0.000003,0.000003,0.002339,0.000003,0.000002,100.000002

In [16]:
preprocessed_df.to_csv('./intermediate_data/mp-700_processed.csv')